<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<img src = "../static/tq0sfld-kickstarter-logo-green.png" alt = "kickstarter logo" class="rounded mx-auto d-block">
 
<body>

    <center>
<br>
        <h1>  PREDICTION :  </h1>
    <br>
    <br>
    {%if data == 0%}
    <h1><p style="color:red;">Unsuccessful</p></h1>
   

    {%else%}
    <h1><p style="color:green;">Successful</p></h1>
   
    
    {%endif%}

        <br><br>
    <a href='/'>Back to main</a>

    </center>

</body>

</html>
